<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Jokes List</title>
</head>
<body>
    <h1>Jokes List</h1>
    <ul>
        <% joke.forEach((joke) => { %>
            <li>
                <a class="showLST" href="/jokes/<%= joke._id %>"><%= joke.title %></a>
            </li>
        <% }) %>
    </ul>
    <div class="button-container">
    <button class="indexBTN"><a href="/jokes/new">Make a Funny</a></button>
    <button class="indexBTN"><a href="/">Back to Home</a></button>
    </div>
</body>
</html>
