* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: system-ui, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

h1, p {
    text-align: center;
    margin: 20px 0;
}

a {
    color: white;
    text-decoration: none;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: hotpink;
}

.BTN {
    display: block;
    margin: 10px auto;
}

.indexBTN {
    display: inline-block;
    margin: 10px;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px 50px 5px 50px;
    position: sticky;
    top: 2px;
}

.showLST {
    color: teal;
    text-decoration: underline;
    display: flex;
    align-items: center;
 
}

.form-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    text-align: left;
}

.input, .textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}
ol {
    color: teal;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    .input, .textarea {
        padding: 2px;
    }
}