<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Let's Hear What Ya Got!</h1>
<form action="/jokes" method="POST">
    <label for="title">Joke Title:</label>
    <input type="text" id="title" name="title" required><br></br>

    <label for="date">When did you think of this?:</label>
    <input type="date" id="date" name="date" required><br></br>

    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" required><br></br>

    <label for="joke">The Zinger:</label>
    <input type="text" id="joke" name="joke" required><br></br>

    <button><a href="/">Back to Home</a></button>



</form>
</body>
</html>